{% extends "base.html" %}

{% load static %}

{% block css_block %} <link rel="stylesheet" href="{% static 'booksearch.css' %}"> {% endblock %}

{% block js_block %} <script src="{% static 'booksearch.js' %}"></script> {% endblock %}

{% block title %} Danan's BookSearch {% endblock %}



{% block content %} 
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12"> -->

    <h2 style="margin-top: 50px;text-align: center;">BookSearch</h2>

    <div class="section" style="margin-top: 10px;">
        <div class="searchBox-container">
            <input type="text" id="searchBox" placeholder="Cari buku..." name="keyword">
        </div>

        <div id="bookList">

        </div>

        <!-- <a href="${bookLink}">
            <button type="button" class="book-button">Lihat buku di Google Books</button>
        </a> -->
        <!-- <div class="bookView-container">
            <p>
                henlo <br>
                xixixi <br>
                heheh
            </p>
        </div> -->

        <!-- <div class="bookView-container">
            <div class="bookImg-container">
                <img src=${img_link} class="bookImg">
            </div>
            
            <div class="bookDesc">
                <h3 class="bookTitle">Sebuah Title</h3>
                <p>
                    <span class="bookDetails">Penulis:</span> Seorang Penulis <br>
                    <span class="bookDetails">Penerbit:</span> Sebuah Penerbit <br>
                    <span class="bookDetails">Tahun:</span> Sebuah Tahun <br>
                </p>
            </div>
        </div> -->
    </div>
{% endblock %}

  