{% extends "base.html" %}

{% block title %} Danan's Profile {% endblock %}

{% load static %}

{% block content %} 
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <span class="align-middle">
                    <div class="main-biodata">
                        <img src="{% static '1x1.jpg' %}" width=80px height=80px style="float: left; margin-right: 10px;"/>
                        <div id="name">Danan Maulidan Akbar</div>
                        <div id="major">1906293000 <br>
                        Ilmu Komputer UI 2019</div>
                    </div>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <span class="section">
                    <h4 style="text-align: center; white-space: nowrap; padding-top: 10px;">Pendidikan</h4>

                    <img src="{% static 'asset2.png' %}" height=280px style="float: left; margin: 18px 10px; margin-bottom: 0px;">
                    <div class="education">
                        <span id="school">Universitas Indonesia <br></span>
                        <span id="detail">Ilmu Komputer 2019</span>
                    </div>
                    <div class="education">
                        <span id="school">SMAN 26 Jakarta <br></span>
                        <span id="detail">MIPA 2019</span>
                    </div>
                    <div class="education">
                        <span id="school">SMPN 182 Jakarta <br></span>
                        <span id="detail">182'33 2016</span>
                    </div>
                    <div class="education">
                        <span id="school">SDN Pengadegan 03 <br></span>
                        <span id="detail">2013</span>
                    </div>
                </span>
            </div>

            <div class="col-sm-8">
                <span class="section">
                    <h4 style="padding-left: 20px; padding-top: 10px;">Tentang Saya</h4>
                    <p>Nama saya Danan Maulidan Akbar, biasa dipanggil Danan. Saya adalah mahasiswa Ilmu Komputer UI.
                    Saya saat ini merupakan Staf Biro Media BEM Fasilkom UI 2020. Tidak begitu banyak pengalaman saya dalam desain, 
                    tetapi saya merupakan pribadi yang ingin belajar.
                    </p>
                </span>

                <span class="section">
                    <h4 style="padding-left: 20px; padding-top: 10px;">Hobi</h4>
                    <p>Saya menyukai linguistik. Logika linguistik merupakan bekal saya sebelum berkuliah di Fasilkom.
                        Bagaimana tidak, sintaksis kebahasaan dan pemrograman mirip. Hobi saya yang lainnya adalah <i>scroll</i>
                        Twitter :).
                    </p>
                </span>
            </div>
            <div class="col-xl-1">
                <span class="section">
                        <a href="https://www.instagram.com/danan_akbar/">
                            <img src="{% static 'logo_ig.png' %}" width="40" height="40" style="display: block; margin: auto;">
                        </a>
                        
                        <a href="https://twitter.com/dananmakbar">
                            <img src="{% static 'logo_twt.pn' %}g"width="50" height="50" style="display: block; margin: auto;">
                        </a>
                </span>
            </div>
        </div>
    </div>
{% endblock %}

  