/* Styling for Accordion */
.acc-container{
    margin: 10px auto;
    width: 50%;
    display: block;
}

.accordion{
    padding: 5px;
    padding-left: 20px;
    text-align: left;
    border-radius: 5px;
    color: white;
    background-color:rgb(255, 140, 8);
    cursor: pointer;
    user-select: none;
    /* float: left; */
}

.acc-panel {
    padding: 18px 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    width: 100%;
}

.acc-button-nav-container {
    /* width: 25px;
    height: 25px; */
    float: right;
}

.acc-button-nav {
    width: 25px;
    height: 25px;
    float: left;
}

.panel-ol{
    margin-top: -14px;
}