{% extends "base.html" %}

{% block title %} Danan's Courses {% endblock %}

{% load static %}

{% block content %} 
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10">

                <!-- <form method="get">
                    {% csrf_token %}
                    <input type="text">
                    <button type="submit">Submit</button>
                </form> -->

                
                 
                
                
                <!-- <div style="float: left; margin-right: 20px;">
                    <label for="id_nama">Nama Mata Kuliah</label> <br>
                    <label for="id_dosen">Dosen Pengajar Matkul</label> <br>
                    <label for="id_jumlah_sks">SKS Mata Kuliah</label> <br>
                    <label for="id_deskripsi">Deskripsi Mata Kuliah</label> <br>
                    <label for="id_smt_diambil">Semester Matkul Diambil</label><br>
                    <label for="id_r_kelas">Ruang Kelas Matkul</label><br>
                </div>
                 -->
                
                <div>
                    <!-- <input type="text" name="nama" maxlength="60" required id="id_nama"><br>
                    <input type="text" name="dosen" maxlength="60" required id="id_dosen"><br>
                    <input type="number" name="jumlah_sks" required id="id_jumlah_sks"><br>
                    <input type="text" name="deskripsi" required id="id_deskripsi"><br>
                    <input type="text" name="smt_diambil" maxlength="20" required id="id_smt_diambil"><br>
                    <input type="text" name="r_kelas" maxlength="20" required id="id_r_kelas"><br> -->
                    <form action="savematkul">
                        {% csrf_token %}

                        {{ matkul_form.as_p }}
                        

                        <input type="submit" value="Submit">
                    </form>
                    

                </div>

            </div>
        </div>
    </div>
{% endblock %}