<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">    
    {% block css_block %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="topnav">
            <a class="{% if page == 'home' %}active{% endif %}" href="{% url 'home:index' %}">Profile</a>
            <a class="{% if page == 'post_page' %}active{% endif %}" href="{% url 'post_page:post_page' %}">Posts</a>
            <a class="{% if page == 'informations' %}active{% endif %}" href="{% url 'informations:index' %}">Informations</a>
            <a class="{% if page == 'book_search' %}active{% endif %}" href="{% url 'booksearch:index' %}">BookSearch</a>
          </div>
    </header>

    {% block content %}
    
    {% endblock %}

</body>

{% block js_block %} {% endblock %}

</html>