{% extends "base.html" %}

{% block title %} Danan's Posts {% endblock %}

{% load static %}

{% block content %}
<div class="container-fluid"> 
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="section">
                <h4 style="padding-left: 20px; padding-top: 10px;">Jurusan di Fasilkom</h4>
                <img src="{% static 'makara-ui-fasilkom.png' %}" width="120px" style="display: block; margin: auto;">
                <p style="margin-top: 10px;">
                    Halo semua! Nama gue Danan. Di sini gue mau bahas tentang mata kuliah yang ada di Fasilkom UI. 
                    Di Fasilkom, kalian utamanya belajar tentang pemrograman, matematika, dan statistika. Namun, ada banyak 
                    lho jenis-jenis mata kuliah yang ada di Fasilkom. Mata kuliah ini ga selalu berhubungan dengan keduanya, lho.
                    Mata kuliah ini terbagi jadi 6 macam, yaitu:
                    <ol>
                        <strong><li>Wajib Universitas (UI)</li></strong>
                        Matkul wajib universitas ini adalah matkul penunjang dan sebagai pengantar setiap mata kuliah
                        pada setiap program studi yang ada di UI, khususnya untuk program S1. Matkulnya antara lain adalah
                        MPK (Mata Kuliah Pengembangan Kepribadian) Terintegrasi, MPK Olahraga/Seni, MPK Bahasa Inggris,
                        dan MPK Agama <br><br>

                        <strong><li>Wajib Rumpun (Sains dan Teknologi)</li></strong>
                        Matkul wajib rumpun adalah matkul yang menjadi landasan setiap prodi yang ada di rumpun tertentu.
                        Rumpun di UI untuk program S1 ada tiga, yaitu Ilmu Kesehatan (RIK), Sains dan Teknologi (Saintek),
                        serta Sosial dan Humaniora (Soshum). Prodi yang ada di rumpun Saintek adalah prodi yang ada di bawah
                        naungan FMIPA, FT, dan Fasilkom. Contoh matkulnya adalah Fisika Dasar dan Matematika Dasar 1 
                        (Kalkulus 1).<br><br>

                        <strong><li>Wajib Fakultas (Fasilkom)</li></strong>
                        <strong><li>Wajib Program Studi (Ilmu Komputer atau Sistem Informasi)</li></strong>
                        <strong><li>Peminatan</li></strong>
                        <strong><li>Eksternal</li></strong>
                    </ol>
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}