{% extends "base.html" %}

{% load static %}

{% block css_block %} <link rel="stylesheet" href="{% static 'informations.css' %}"> {% endblock %}

{% block js_block %} <script src="{% static 'informations.js' %}"></script> {% endblock %}

{% block title %} Danan's Informations {% endblock %}



{% block content %} 
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12"> -->

    <h2 style="margin-top: 50px;text-align: center;">Informations</h2>

    <div class="section" style="margin-top: 10px;">
        <div class="acc-container" id="acc-cont1">
            <div class="accordion" id="acc1" onclick="openPanel('acc1', 'panel1')"> 
                Aktivitas Saat Ini
                <div class="acc-button-nav-container">
                    <img src="{% static 'ButtonUp.png'%}" class="acc-button-nav" 
                        onclick="event.stopPropagation(); accUp('acc-cont1')">
                    <img src="{% static 'ButtonDown.png'%}" class="acc-button-nav" 
                        onclick="event.stopPropagation(); accDown('acc-cont1')">                    
                </div>
            </div>
            <div class="acc-panel" id="panel1">
                <p>
                    Saat ini, saya sedang mengikuti PJJ Fasilkom UI yang disebabkan oleh pandemi COVID-19. Selain itu, saya 
                    juga mengikuti organisasi untuk pengembangan diri.
                </p> 
            </div>
        </div>

        <div class="acc-container" id="acc-cont2">
            <div class="accordion" id="acc2" onclick="openPanel('acc2', 'panel2')"> 
                Pengalaman Organisasi dan Kepanitiaan
                <div class="acc-button-nav-container">
                    <img src="{% static 'ButtonUp.png'%}" class="acc-button-nav" 
                        onclick="event.stopPropagation(); accUp('acc-cont2')">
                    <img src="{% static 'ButtonDown.png'%}" class="acc-button-nav" 
                        onclick="event.stopPropagation(); accDown('acc-cont2')">                    
                </div>
            </div>                

            <div class="acc-panel" id="panel2">
                <p>
                    Organisasi: <br>
                    Staf Biro Media BEM Fasilkom UI 2020
                    <br><br>

                    Kepanitiaan:
                    <ol class="panel-ol">
                        <li>Staf Perlengkapan PEMIRA Fasilkom UI 2019</li>
                        <li>Staf Kreatif Wisuda Genap Fasilkom UI 2019</li>
                        <li>Staf Mentor dan Peserta BETIS 2020</li>
                    </ol>
                </p> 
            </div>
        </div>

        <div class="acc-container" id="acc-cont3">
            <div class="accordion" id="acc3" onclick="openPanel('acc3', 'panel3')"> 
                Prestasi
                <div class="acc-button-nav-container">
                    <img src="{% static 'ButtonUp.png'%}" class="acc-button-nav" 
                        onclick="event.stopPropagation(); accUp('acc-cont3')">
                    <img src="{% static 'ButtonDown.png'%}" class="acc-button-nav" 
                        onclick="event.stopPropagation(); accDown('acc-cont3')">                    
                </div>
            </div>
            <div class="acc-panel" id="panel3">
                <p>
                    Saat ini, prestasi berupa kejuaraan yang saya dapatkan di masa kuliah ini belum ada. 
                    Namun, menurut saya, masuk ke dan bertahan di (kemudian lulus dari) Fasilkom 
                    merupakan prestasi (dan tujuan) paling besar bagi saya untuk saat ini. 
                </p> 
            </div>
        </div>

        <div class="acc-container" id="acc-cont4">
            <div class="accordion" id="acc4" onclick="openPanel('acc4', 'panel4')"> 
                Keterampilan Nonteknis
                <div class="acc-button-nav-container">
                    <img src="{% static 'ButtonUp.png'%}" class="acc-button-nav" 
                        onclick="event.stopPropagation(); accUp('acc-cont4')">
                    <img src="{% static 'ButtonDown.png'%}" class="acc-button-nav" 
                        onclick="event.stopPropagation(); accDown('acc-cont4')">                    
                </div>
            </div>
            <div class="acc-panel" id="panel4">
                <p>
                    Bahasa Asing:
                    <ol class="panel-ol">
                        <li>Bahasa Inggris</li>
                        <li>Bahasa Jerman</li>
                    </ol>
                </p>
                <p>
                    Perangkat Lunak:
                    <ol class="panel-ol">
                        <li>Adobe Illustrator</li>
                        <li>Adobe Photoshop</li>
                    </ol>

                </p> 
            </div>
        </div>
        
    </div>
{% endblock %}

  