.searchBox-container {
    margin: 20px 0;
    text-align: center;
}

#searchBox {
    height: 50px;
    width: 60%;
    padding-left: 20px;
    border-style: solid;
    border-color: white ;
    border-radius: 20px;
}

#searchBox:focus {
    border-color: rgb(255, 140, 8) ;
    outline: none;
}

.bookView-container {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 80%;
    background-color: rgb(255, 140, 8);
    border-radius: 20px;
    color: white;
    overflow: auto;
}

.bookImg-container{
    width: 100%;
    border-radius:10px;
    overflow:hidden;
    /* border-color:; */
}

.img-button-container{
    margin: 0px 20px;
    margin-top: 5px;
    width: 120px;
    float: left;
    text-align: center;
}

.bookImg{
    width: 100%;
    position: relative;
    border-color: white;
}

.bookDesc{
    float: none;
}

.section{
    background-color : rgb(255, 223, 187);
    color: black;
    float: left;
    padding: 10px;
    text-align: justify;
    /* margin-top: 10px; */
    border-radius: 10px;
    width: 100%;
}

.bookTitle{
    text-align: left;
    font-weight: bolder;
}

.visit-button-container{
    margin: auto;
    margin-top: 10px;
    width : 100%;
    text-align: center;
}

.book-button{
    border-radius: 10px;
    /* padding: 10px 20px; */
    width: 100%;
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 223, 187);
    color:black;
}

.bookDetails{
    font-weight: bolder;
}