body {
    background-color: rgb(255, 223, 187);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    text-align: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    margin: 0;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 12px;
    text-decoration: none;
    font-size: 17px;        
  }
  
  .topnav a:hover {
    background-color: #444;
    color: white;
  }

  .topnav a.active {
    background-color: rgb(255, 223, 187);
    color: black;
  }


.main-biodata {
    background-color: rgb(255, 223, 187);
    padding: 15px 10px;
    color:black;
    border-radius: 0px 0px 10px 10px;
    /* height: 120px; */
}
    .main-biodata #name {
        font-size: 20px;
        margin-left: 10px;
    }

    .main-biodata #major {
        font-size: 15px;
        margin-left: 10px;
    }

.section{
    background-color : rgb(255, 223, 187);
    color: black;
    float: left;
    padding: 10px;
    text-align: justify;
    /* margin-top: 10px; */
    border-radius: 10px;
    width: 100%;
}

    .section .education{
        margin-left: 10px;
        margin-top: 25px;
        white-space: nowrap;
    }

        .section .education #school{
            font-size: 15px;
        }

        .section .education #detail{
            font-size: 12px;
        }

p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}